body{
font-style: italic;
font-size: x-large;
margin: 1%;
}
.color-red{
    color: orangered;
}
}
        
    }
}
 .orange {
    color: rgb(250, 19, 96);

 }
 .halt-width{
     width: 50px;
     padding: 10px;
 }
     

    
     
     
    
     
 
    
